.mat-toolbar.mat-primary {
  background: crimson;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: crimson;
}

.mat-chip.mat-standard-chip{
  background-color: crimson;
  color: #fff;
}

.snackbar-green {
  background: #72c158;
}
.snackbar-orange {
  background: #c17824;
}

.snackbar-red {
  background: rgb(193, 40, 25);
}
.mat-simple-snackbar-action {
  color: white;
}

.container {
  display: flex; /* or inline-flex */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  flex-direction: column;
}

.kbr-center {
  justify-content: center;
}

.kbr-sidebar-container {
  margin-top: 64px !important;
}

.kbr-sidebar {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.kbr-padding {
  padding: 15px;
}

.kbr-sidebar-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.kbr-flex-column {
  display: flex;
  flex-direction: column;
}
.kbr-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.kbr-flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.kbr-flex-fill {
  flex: 1 1 auto;
}

.kbr-center-center {
  display: flex;
  align-items: center;
  justify-content: center;

}

.kbr-center-vertically {
  display: flex;
  align-items: center;
}

.kbr-center-horisontally {
  display: flex;
  justify-content: center;
}

.numberCircle {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  padding: 2px;
  background: crimson;
  color: #ffffff;
  text-align: center;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 10px;
  font-weight: 400;
}



.mat-expansion-panel-header-description {
  justify-content: space-between;
}

.kbr-right {
  justify-content: flex-end;
}

.kbr-toolbar {
  background: crimson;
  color: fff;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}

.example-panel-green {
  width: 20;
  background: rgba(0, 255, 0, 0.5);
}
