<div *ngIf="this.{name}; then {name}_edit else {name}_create" ></div>

<ng-template #{name}_edit>
  <label>Update {name}:</label><br>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput #{name}Name matInput [(ngModel)]="{name}.name">
    </mat-form-field>
  </p>

  <p>
    <button mat-raised-button (click)="this.update({name});">
      <mat-icon>edit</mat-icon>
      Update {name}
    </button>
  </p>



</ng-template>

<ng-template #{name}_create>


  <label>Add {name}:</label><br>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput #{name}Name matInput placeholder="example.com" >
    </mat-form-field>
  </p>

  <p>
    <button mat-raised-button (click)="this.add({name}Name.value);">
      <mat-icon>note_add</mat-icon>
      Add {name}
    </button>
  </p>
<br>
</ng-template>

