<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color="accent">My App

    <button mat-button routerLink="{{kbrNavigator.homeUrl()}}"> Home </button> <br>
    <button mat-button routerLink="{{kbrNavigator.aboutUrl()}}"> About</button> <br>

  
    <div *ngIf="kbrAuthentication.isLoggedIn; then logout_template else login_template" ></div>
    <ng-template #login_template>
        <a mat-button href="http://localhost:8080/authorize?response_type=token&client_id=abc&redirect_uri=http%3A%2F%2Flocalhost%2Fvmail-frontend%2F%23login%0A&scope=scope_write">Login</a>
        <!--    <a href='http://localhost:8080/authorize?response_type=token&client_id=abc&redirect_uri=http%3A%2F%2Flocalhost%2Fvmail-frontend%2F%23login%0A&scope=scope_write'> login</a> <br> -->
    </ng-template>

    <ng-template #logout_template>
        <button mat-button routerLink="/logout">Logout</button>
        <!--    <a routerLink="/logout"> Logout </a> <br> -->
    </ng-template>

    
</mat-toolbar>

<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>





<router-outlet></router-outlet>
